<!-- app/views/property_roi_calculations/_tab_navigation.html.erb -->

<ul class="nav nav-tabs mb-4" id="calculatorTabs" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link active d-flex align-items-center" id="property-tab" data-bs-toggle="tab" data-bs-target="#property" type="button" role="tab">
      <i class="fas fa-home me-1"></i> Property
    </button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link d-flex align-items-center" id="income-tab" data-bs-toggle="tab" data-bs-target="#income" type="button" role="tab">
      <i class="fas fa-dollar-sign me-1"></i> Income
    </button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link d-flex align-items-center" id="expenses-tab" data-bs-toggle="tab" data-bs-target="#expenses" type="button" role="tab">
      <i class="fas fa-tag me-1"></i> Expenses
    </button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link d-flex align-items-center" id="projections-tab" data-bs-toggle="tab" data-bs-target="#projections" type="button" role="tab">
      <i class="fas fa-chart-bar me-1"></i> Projections
    </button>
  </li>
</ul>